.search-text-box {
  width: 100%;
  margin: 3rem 0;
  position: sticky;
  top: 3%;
  z-index: 9999;
}
.search-grid {
  width: max-content;
  margin: 0 auto;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr 0.75fr 1.25fr max-content;
  border-radius: 1000px;
  height: 75px;
  position: relative;
}
.search-grid-card {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-grid h6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1.8rem;
  color: var(--black);
  font-weight: 500;
  cursor: pointer;
  padding: 0 3rem;
  border-radius: 1000px;
  background-color: transparent;
  position: relative;
  height: 100%;
  width: 100%;
}
.search-grid h6.active-tab {
  background-color: var(--white);
  box-shadow: 0 0 5px 5px rgba(149, 157, 165, 0.035);
}
.search-input-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.search-grid h6 span {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 500;
}
.search-input-container input {
  font-size: 1.4rem;
  color: var(--main);
  font-weight: 500;
  border: unset;
  padding: 0;
  width: 100%;
  background-color: transparent;
}
.search-input-container input:focus {
  box-shadow: unset;
  border: unset;
  outline: unset;
}
.search-input-container input::placeholder {
  font-size: 1.4rem;
  color: #b7b7b7;
  font-weight: 500;
}
.search-input-container.has-value svg {
  display: block;
}
.search-input-container svg {
  font-size: 1.25rem;
  color: var(--main);
  display: none;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  background-color: var(--primary-yellow);
  border: 2px solid var(--white);
  cursor: pointer;
}
.search-box svg {
  font-size: 2rem;
  color: var(--white);
}

/* WHERE BOX  */
.where-hidden-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0px 10px 55px 0px rgba(42, 45, 131, 0.13);
  width: 470px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, 22%);
  z-index: 1;
}
.whb-top {
  background-color: #ededed;
  width: 100%;
  padding: 1.25rem 2.5rem;
  border-radius: 0.75rem 0.75rem 0 0;
}
.whb-top h5 {
  color: #0a1121;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}
.whb-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem 2.5rem;
  width: 100%;
}
.whb-bot-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 2rem;
}
.whb-bot-text svg {
  font-size: 2rem;
  color: #cbd329;
}
.whb-bot-text svg.whb-except-svg {
  color: var(--main);
}
.whb-bot-text h4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0;
  font-size: 2rem;
  color: var(--black);
  font-weight: 600;
  margin: 0;
}
.whb-bot-text h4 span {
  font-size: 1.4rem;
  color: #6c707a;
  font-weight: 400;
  margin: 0;
}
.serach-grid-box {
  width: 100%;
  position: relative;
}

/* WHO BOX  */
.childrenage-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
}
.who-hidden-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0px 10px 55px 0px rgba(42, 45, 131, 0.13);
  width: max-content;
  min-width: 350px;
  position: absolute;
  left: 0%;
  transform: translate(0, 2%);
  z-index: 1;
}
.add-reset-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25rem 2.5rem;
  width: 100%;
}
.add-reset-box h6 {
  color: #dbdde1;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 0;
}
.add-reset-box button {
  background-color: var(--main);
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 500;
  border: unset;
  border-radius: 0.75rem;
  white-space: nowrap;
}
.whb-room-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  flex-direction: column;
  width: 100%;
}
.who-hidden-box .whb-top {
  background-color: #ededed;
  width: 100%;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0;
}
.who-hidden-box .whb-top h5 {
  color: #0a1121;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}
.who-hidden-box .whb-top svg {
  color: #0a1121;
  font-size: 2rem;
  cursor: pointer;
}
.whb-room-bottom {
  width: 100%;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  flex-direction: column;
}
.whb-plus-minus {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.whb-plus-minus h5 {
  color: #0a1121;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0;
}
.whb-plus-minus div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.whb-plus-minus div svg {
  font-size: 3rem;
  color: var(--main);
  cursor: pointer;
}
.whb-plus-minus div svg.whb-plus-excep {
  color: rgba(38, 81, 156, 0.24);
}
.whb-plus-minus div span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid #dbdde1;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
}
.whb-room-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  width: 100%;
}
.whb-room-select p {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 400;
  margin: 0;
}
.whb-room-select select {
  border: 1px solid #dbdde1;
  border-radius: 0.5rem;
  padding: 0.75rem;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 500;
  margin: 0;
  width: 100%;
}
.whb-room-select select:focus {
  outline: unset;
  box-shadow: unset;
}

/* CHECK IN BOX  */
.check-in-calendar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0px 10px 55px 0px rgba(42, 45, 131, 0.13);
  width: 650px;
  padding: 1.5rem 2.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 1rem));
  z-index: 1;
}
.cic-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #f3f4f5;
  width: 100%;
}
.cic-top h6 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 600;
  margin: 0;
  padding: 0 !important;
}
.cic-top h6 span {
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 500;
  margin: 0;
}
.cic-top svg {
  color: var(--black);
  font-size: 2rem;
  cursor: pointer;
}
.cic-tabs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: 2rem 0;
}
.custom-calendar {
  border: none !important;
}
.cic-tabs .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f5f5f5;
  border-radius: 1000px;
  height: 70px;
  width: 290px;
}
.cic-tabs .tabs div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 600;
  border-radius: 1000px;
  cursor: pointer;
}
.cic-tabs .tabs div.active {
  background-color: var(--white);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.cic-tabs .tab-content {
  width: 100%;
}
.tc-main-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}
.tc-dates-opt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.tc-dates-opt-card {
  width: 100%;
}
.tc-dates-opt-card input {
  display: none;
}
.tc-dates-opt-card label {
  background-color: transparent;
  border: 1px solid #dbdde1;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 600;
  white-space: nowrap;
}
.tc-dates-opt-card input:checked + label {
  background-color: transparent;
  color: var(--main);
  border-color: var(--main);
}
.tc-main-box h3 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--black);
  font-weight: 700;
  margin: 0;
  width: 100%;
  border-bottom: 1px solid #f3f4f5;
  padding-bottom: 1.5rem;
}
.tc-choose-days {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}
.tcd-select-card {
  width: 100%;
}
.tcd-select-card input {
  display: none;
}
.tcd-select-card label {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.3rem;
  color: var(--black);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1000px;
  cursor: pointer;
  border: 1px solid #dbdde1;
  padding: 0.5rem 2rem;
}
.tcd-select-card label svg {
  color: var(--black);
  font-size: 1.5rem;
}
.tcd-select-card input:checked + label {
  background-color: transparent;
  color: var(--main);
  border-color: var(--main);
}
.tcd-select-card input:checked + label svg {
  color: var(--main);
}
.tc-choose-month {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  width: 100%;
  margin: 0 auto;
}
.tcd-selectm-card {
  width: 100%;
}
.tcd-selectm-card input {
  display: none;
}
.tcd-selectm-card label {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-size: 1.4rem;
  color: var(--black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1.5rem;
  cursor: pointer;
  border: 1px solid #dbdde1;
  padding: 1.75rem 1.25rem;
}
.tcd-selectm-card label svg {
  color: var(--black);
  font-size: 1.5rem;
}
.tcd-selectm-card input:checked + label {
  background-color: transparent;
  color: var(--main);
  border-color: var(--main);
}
.tcd-selectm-card input:checked + label svg path {
  stroke: var(--main);
}

/* REACT CALENDER  */
.react-datepicker {
  width: 100%;
  border: unset !important;
  gap: 4rem;
}
.react-datepicker__navigation *::before {
  border-color: var(--black) !important;
}
.react-datepicker__month-container {
  width: 45%;
  margin: 0 1rem;
}
.react-datepicker__header {
  background-color: transparent !important;
  border-bottom: unset !important;
}
.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  font-size: 1.4rem !important;
  margin-bottom: 2rem !important;
}
.react-datepicker__day-names {
  background-color: #f3f4f5;
  padding: 0;
  border-radius: 0.5rem;
}
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  font-size: 1.35rem;
  color: var(--black);
  font-weight: 400;
  width: 3.5rem !important;
  border-radius: 50% !important;
  line-height: 3.5rem !important;
}
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: var(--main) !important;
  border-radius: 50%;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  border-radius: 50% !important;
  background-color: var(--main) !important;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  border-radius: 50% !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  color: var(--white) !important;
}
.react-datepicker__day--keyboard-selected {
  font-weight: 400 !important;
}
